---
import Layout from '../../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
export async function getStaticPaths() {
  const allPosts = await getCollection('blog');

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.info).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.info.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<Layout Title={tag}>
  <p>{tag}のタグが付いた記事</p>
  		<ul>
			{posts.map((post:any) =>(
			<li class="m-2 w-[36rem] w-max-full">
				<a href=`/posts/${post.slug}`>
				<div class="font-bold text-lg">{post.data.title}</div>
			  <a href=`/tags/${post.data.info}` class="bg-red-100 text-red-800 text-xs font-medium me      -2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{post.data.info} </a>
				<time datetime={post.data.pubDate.toISOString()} class="text-sub-text dark:text-dark-text text-right"> {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}</time>
			</a>
			</li>
			))}
		</ul>
</Layout>
