---
import Article from "../layouts/Article.astro";
import { getBlogs, getBlogDetail } from "../library/microcms";
// 詳細記事ページの全パスを取得
export async function getStaticPaths() {
  const response = await getBlogs({ fields: ["id"] });
  return response.contents.map((content: any) => ({
    params: {
      blogId: content.id,
    },
  }));
}

//記事の詳細情報を取得
const { blogId } = Astro.params;
const blog = await getBlogDetail(blogId as string);
blog.publishedAt = new Date(blog.publishedAt).toLocaleDateString('ja-JP');
---
<Article title={blog.title} date={blog.publishedAt} og=`${blog.eyecatch.url}?fm&fit=clamp&w=1200&h=630` eyecatch=`${blog.eyecatch.url}?fm&fit=clamp&w=700&h=366`>
    <div class="post prose lg:prose-xl dark:prose-invert m-4" set:html={blog.content}></div>
</Layout>
