---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
let posts = await getCollection("blog");
if (posts.length > 10) {
	posts = posts.slice(0, 9);
}
const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.flatMap((post) => post.data.info))];
---

<Layout meta="index page" title="index" og="https://ear-diary.com/ear.png">
    <div class="w-full dark:bg-dark-back dark:text-dark-text">
        <div class="rounded-lg border-2 border-slate-400">
            <p class="text-center text-lg text-main-text dark:text-dark-text">最近の記事</p>
            <ul>
                {
                    posts.map((post: any) => (
                        <li class="w-max-full m-2 rounded-lg bg-[#f3f3f3] pl-1 shadow-xl dark:bg-[#383d43]">
                    <a href={`/${post.data.info}/${post.slug}`} aria-label={`${post.slug}にアクセス`}>
                                <div class="sm:test-4xl text-2xl font-bold">{post.data.title}</div>
                                <div class="flex w-full flex-wrap">
                                    <a
                                href={`/category/${post.data.info}/1`}
                                        class="me-2 block rounded-full bg-red-100 px-2.5 py-0.5 text-red-800 dark:bg-red-900 dark:text-red-300"
                                    >
                                        {post.data.info}{' '}
                                    </a>
                                    <time
                                        datetime={post.data.pubDate.toISOString()}
                                        class="ml-1 block w-fit text-sub-text dark:text-dark-text"
                                    >
                                        {' '}
                                        {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}
                                    </time>
                                </div>
                            </a>
                        </li>
                    ))
                }
            </ul>
            <div class="mx-auto block flex w-fit items-center justify-center">
                <button
                    type="button"
                    class="mb-2 me-2 rounded-lg bg-blue-700 px-5 py-2.5 text-lg font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    aria-label="記事一覧へアクセス"><a href="/index/1/">記事一覧</a></button
                >
            </div>
        </div>
        <div class="flex flex-wrap">
            {
                uniqueTags.sort().map((tag: any) => (
                    <div class="my-2 w-full rounded-lg border-2 border-slate-400 lg:w-1/2">
                        <p class="text-center text-lg text-main-text dark:text-dark-text">
                            {tag}の記事
                        </p>
                        <ul>
                            {allPosts
                                .filter((post) => post.data.info.includes(tag))
                                .map((post: any) => (
                                    <li class="w-max-full m-2 rounded-lg bg-[#f3f3f3] pl-1 shadow-xl dark:bg-[#383d43]">
                                        <a
                            href={`/${post.data.info}/${post.slug}`}
                                            aria-label={`${post.slug}にアクセス`}
                                        >
                                            <div class="sm:test-4xl text-2xl font-bold">
                                                {post.data.title}
                                            </div>
                                            <div class="flex w-full flex-wrap">
                                                <a
                                    href={`/category/${post.data.info}/1`}
                                                    class="me-2 block rounded-full bg-red-100 px-2.5 py-0.5 text-red-800 dark:bg-red-900 dark:text-red-300"
                                                >
                                                    {post.data.info}{' '}
                                                </a>
                                                <time
                                                    datetime={post.data.pubDate.toISOString()}
                                                    class="ml-1 block w-fit text-sub-text dark:text-dark-text"
                                                >
                                                    {' '}
                                                    {new Intl.DateTimeFormat('ja-JP').format(
                                                        post.data.pubDate,
                                                    )}
                                                </time>
                                            </div>
                                        </a>
                                    </li>
                                ))}
                        </ul>
                        <div class="mx-auto block flex w-fit items-center justify-center">
                            <button
                                type="button"
                                class="mb-2 me-2 rounded-lg bg-blue-700 px-5 py-2.5 text-lg font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                aria-label={`${tag}がついた記事一覧へアクセス`}
                            >
                        <a href={`/category/${tag}/1/`}>記事一覧</a>
                            </button>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
