---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
let posts = await getCollection('blog');
if (posts.length > 10 ){
posts = posts.slice(0,9);
} 
const allPosts = await getCollection('blog');
const uniqueTags = [...new Set(allPosts.map((post) => post.data.info).flat())];
---
<Layout meta="index page" title="index" og="https://ear-diary.com/ear.png">
<script is:inline>
  function getRandomInt(max) {
  return Math.floor(Math.random() * max);
}
  const hellos = [{
    "language": "English",
    "hello": "Welcome!"
  },
  {
    "language": "Afrikaans",
    "hello": "hallo"
  },
  {
    "language": "Albanian",
    "hello": "Përshëndetje"
  },
  {
    "language": "Amharic",
    "hello": "ሰላም"
  },
  {
    "language": "Arabic",
    "hello": "مرحبا"
  },
  {
    "language": "Armenian",
    "hello": "Բարեւ"
  },
  {
    "language": "Azerbaijani",
    "hello": "Salam"
  },
  {
    "language": "Basque",
    "hello": "Kaixo"
  },
  {
    "language": "Belarusian",
    "hello": "добры дзень"
  },
  {
    "language": "Bengali",
    "hello": "হ্যালো"
  },
  {
    "language": "Bosnian",
    "hello": "zdravo"
  },
  {
    "language": "Bulgarian",
    "hello": "Здравейте"
  },
  {
    "language": "Catalan",
    "hello": "Hola"
  },
  {
    "language": "Cebuano",
    "hello": "Hello"
  },
  {
    "language": "Chichewa",
    "hello": "Moni"
  },
  {
    "language": "Chinese (Simplified)",
    "hello": "您好"
  },
  {
    "language": "Chinese (Traditional)",
    "hello": "您好"
  },
  {
    "language": "Corsican",
    "hello": "Bonghjornu"
  },
  {
    "language": "Croatian",
    "hello": "zdravo"
  },
  {
    "language": "Czech",
    "hello": "Ahoj"
  },
  {
    "language": "Danish",
    "hello": "Hej"
  },
  {
    "language": "Dutch",
    "hello": "Hallo"
  },
  {
    "language": "English",
    "hello": "Hello"
  },
  {
    "language": "Esperanto",
    "hello": "Saluton"
  },
  {
    "language": "Estonian",
    "hello": "Tere"
  },
  {
    "language": "Filipino",
    "hello": "Kumusta"
  },
  {
    "language": "Finnish",
    "hello": "Hei"
  },
  {
    "language": "French",
    "hello": "Bonjour"
  },
  {
    "language": "Frisian",
    "hello": "Hello"
  },
  {
    "language": "Galician",
    "hello": "Ola"
  },
  {
    "language": "Georgian",
    "hello": "გამარჯობა"
  },
  {
    "language": "German",
    "hello": "Hallo"
  },
  {
    "language": "Greek",
    "hello": "Γεια σας"
  },
  {
    "language": "Gujarati",
    "hello": "હેલો"
  },
  {
    "language": "Haitian Creole",
    "hello": "Bonjou"
  },
  {
    "language": "Hausa",
    "hello": "Sannu"
  },
  {
    "language": "Hawaiian",
    "hello": "Alohaʻoe"
  },
  {
    "language": "Hebrew",
    "hello": "שלום"
  },
  {
    "language": "Hindi",
    "hello": "नमस्ते"
  },
  {
    "language": "Hmong",
    "hello": "Nyob zoo"
  },
  {
    "language": "Hungarian",
    "hello": "Helló"
  },
  {
    "language": "Icelandic",
    "hello": "Halló"
  },
  {
    "language": "Igbo",
    "hello": "Ndewo"
  },
  {
    "language": "Indonesian",
    "hello": "Halo"
  },
  {
    "language": "Irish",
    "hello": "Dia duit"
  },
  {
    "language": "Italian",
    "hello": "Ciao"
  },
  {
    "language": "Japanese",
    "hello": "こんにちは"
  },
  {
    "language": "Javanese",
    "hello": "Hello"
  },
  {
    "language": "Kannada",
    "hello": "ಹಲೋ"
  },
  {
    "language": "Kazakh",
    "hello": "Сәлем"
  },
  {
    "language": "Khmer",
    "hello": "ជំរាបសួរ"
  },
  {
    "language": "Korean",
    "hello": "안녕하세요."
  },
  {
    "language": "Kurdish (Kurmanji)",
    "hello": "Hello"
  },
  {
    "language": "Kyrgyz",
    "hello": "салам"
  },
  {
    "language": "Lao",
    "hello": "ສະບາຍດີ"
  },
  {
    "language": "Latin",
    "hello": "salve"
  },
  {
    "language": "Latvian",
    "hello": "Labdien!"
  },
  {
    "language": "Lithuanian",
    "hello": "Sveiki"
  },
  {
    "language": "Luxembourgish",
    "hello": "Moien"
  },
  {
    "language": "Macedonian",
    "hello": "Здраво"
  },
  {
    "language": "Malagasy",
    "hello": "Hello"
  },
  {
    "language": "Malay",
    "hello": "Hello"
  },
  {
    "language": "Malayalam",
    "hello": "ഹലോ"
  },
  {
    "language": "Maltese",
    "hello": "Hello"
  },
  {
    "language": "Maori",
    "hello": "Hiha"
  },
  {
    "language": "Marathi",
    "hello": "हॅलो"
  },
  {
    "language": "Mongolian",
    "hello": "Сайн байна уу"
  },
  {
    "language": "Myanmar (Burmese)",
    "hello": "မင်္ဂလာပါ"
  },
  {
    "language": "Nepali",
    "hello": "नमस्ते"
  },
  {
    "language": "Norwegian",
    "hello": "Hallo"
  },
  {
    "language": "Pashto",
    "hello": "سلام"
  },
  {
    "language": "Persian",
    "hello": "سلام"
  },
  {
    "language": "Polish",
    "hello": "Cześć"
  },
  {
    "language": "Portuguese",
    "hello": "Olá"
  },
  {
    "language": "Punjabi",
    "hello": "ਹੈਲੋ"
  },
  {
    "language": "Romanian",
    "hello": "Alo"
  },
  {
    "language": "Russian",
    "hello": "привет"
  },
  {
    "language": "Samoan",
    "hello": "Talofa"
  },
  {
    "language": "Scots Gaelic",
    "hello": "Hello"
  },
  {
    "language": "Serbian",
    "hello": "Здраво"
  },
  {
    "language": "Sesotho",
    "hello": "Hello"
  },
  {
    "language": "Shona",
    "hello": "Hello"
  },
  {
    "language": "Sindhi",
    "hello": "هيلو"
  },
  {
    "language": "Sinhala",
    "hello": "හෙලෝ"
  },
  {
    "language": "Slovak",
    "hello": "ahoj"
  },
  {
    "language": "Slovenian",
    "hello": "Pozdravljeni"
  },
  {
    "language": "Somali",
    "hello": "Hello"
  },
  {
    "language": "Spanish",
    "hello": "Hola"
  },
  {
    "language": "Sundanese",
    "hello": "halo"
  },
  {
    "language": "Swahili",
    "hello": "Sawa"
  },
  {
    "language": "Swedish",
    "hello": "Hallå"
  },
  {
    "language": "Tajik",
    "hello": "Салом"
  },
  {
    "language": "Tamil",
    "hello": "ஹலோ"
  },
  {
    "language": "Telugu",
    "hello": "హలో"
  },
  {
    "language": "Thai",
    "hello": "สวัสดี"
  },
  {
    "language": "Turkish",
    "hello": "Merhaba"
  },
  {
    "language": "Ukranian",
    "hello": "Здрастуйте"
  },
  {
    "language": "Urdu",
    "hello": "ہیلو"
  },
  {
    "language": "Uzbek",
    "hello": "Salom"
  },
  {
    "language": "Vietnamese",
    "hello": "Xin chào"
  },
  {
    "language": "Welsh",
    "hello": "Helo"
  },
  {
    "language": "Xhosa",
    "hello": "Sawubona"
  },
  {
    "language": "Yiddish",
    "hello": "העלא"
  },
  {
    "language": "Yoruba",
    "hello": "Kaabo"
  },
  {
    "language": "Zulu",
    "hello": "Sawubona"
  }
  ];
  let randomindex = getRandomInt(hellos.length) - 1;
  const div1 = document.getElementById("hello");
  let item = document.createElement("span");
  item.textContent = hellos[randomindex].hello;
  div1.appendChild(item);
  </script>
	<div class="dark:bg-dark-back dark:text-dark-text w-full">
    <div class="w-full h-[20svh] flex justify-center">
      <div class="pr-2 text-main-text dark:text-dark-text font-bolod text-xl" id="hello"></div>
    </div>
	<div class="border-2 rounded-lg border-slate-400">
    <p class="text-main-text dark:text-dark-text text-lg text-center">最近の記事</p>
		<ul>
			{posts.map((post:any) =>(
      <li class="pl-1 dark:bg-[#383d43] bg-[#f3f3f3] m-2 w-max-full shadow-xl rounded-lg">
        <a href=`/posts/${post.slug}` aria-label=`${post.slug}にアクセス`>
				<div class="font-bold text-2xl sm:test-4xl">{post.data.title}</div>
				<div class="flex flex-wrap w-full">
			  <a href=`/tags/${post.data.info}` class="block  bg-red-100 text-red-800 me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{post.data.info} </a>
				<time datetime={post.data.pubDate.toISOString()} class="text-sub-text dark:text-dark-text block w-fit ml-1"> {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}</time>
				</div>
				</a>

			</li>
      )	)}
		</ul>
		<div class="block flex justify-center items-center w-fit mx-auto">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" aria-label="記事一覧へアクセス"><a href="/index/1/">記事一覧</a></button>
		</div>
  </div>
  <div class="flex flex-wrap">
      {uniqueTags.sort().map((tag:any) => (
      <div class="border-2 rounded-lg border-slate-400 my-2 w-full lg:w-1/2">
        <p class="text-main-text dark:text-dark-text text-lg text-center">{tag}の記事</p>
    <ul>
      {allPosts.filter( post => post.data.info.includes(tag)).map((post:any) =>(
      <li class="pl-1 dark:bg-[#383d43] bg-[#f3f3f3] m-2 w-max-full shadow-xl rounded-lg">
        <a href=`/posts/${post.slug}` aria-label=`${post.slug}にアクセス`>
        <div class="font-bold text-2xl sm:test-4xl">{post.data.title}</div>
        <div class="flex flex-wrap w-full">
        <a href=`/tags/${post.data.info}` class="block  bg-red-100 text-red-800 me-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">{post.data.info} </a>
        <time datetime={post.data.pubDate.toISOString()} class="text-sub-text dark:text-dark-text block w-fit ml-1"> {new Intl.DateTimeFormat('ja-JP').format(post.data.pubDate)}</time>
        </div>
        </a>

      </li>
      ))
      }
    </ul>
      <div class="block flex justify-center items-center w-fit mx-auto">
    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" aria-label=`${tag}がついた記事一覧へアクセス`><a href=`/tags/${tag}/`>記事一覧</a></button>
    </div>
  </div>
      ))}
  </div>
  </div>
</Layout>
