---
import Layout from "../layouts/Layout.astro";
const {meta, og,  date, title, eyecatch } = Astro.props;
import { Icon } from 'astro-icon/components'
---
<Layout title={title} og={og} meta={meta}>
          <img src={eyecatch} alt="" class="m-4 mx-auto rounded-md w-11/12" width=700 height=366>        
    <h1 class="title text-4xl ml-3 font-bold text-main-text dark:text-dark-text">{title}</h1>
    <div class="flex">
    <p class="publishedAt m-4 text-sub-text dark:text-dark-texti text-xl">{date}</p>
    <div class="ml-auto flex">
	    <a href=`https://b.hatena.ne.jp/entry/s/${Astro.url}` class="ml-4">
		    <Icon name="cib:hatena-bookmark" class=" text-4xl" />
	    </a>
	    <a href=`https://twitter.com/intent/tweet?url=${Astro.url}` class="mx-4">
		    <Icon name="prime:twitter" class="text-4xl" />
	    </a>
    </div>
    </div>
    <slot />
    <div id="disqus_thread"></div>
<script type="text/partytown" is:inline>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://EXAMPLE.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</Layout>
