---
const {meta, title, og } = Astro.props
import { getBlogs } from "../library/microcms";
import Search from '../components/Search.astro'
const response = await getBlogs({ fields: ["id", "title","eyecatch","publishedAt"] });
response.contents.forEach((content:any) =>{
content.publishedAt = new Date(content.publishedAt).toLocaleDateString('ja-JP');
});
import {Icon} from "astro-icon/components";
const schema = JSON.stringify({
    "@context": "https://schema.org",
    "@type": "WebSite",
    "name": title ,
    "url": Astro.url,
    "description":{meta}
});
---
<html lang="ja">
	<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
		<meta charset="utf-8" />
		<meta property="og:type" content="blog" />
		<meta property="og:image" content={og} />
		<meta name="description" content={meta} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="alternate" type="application/rss+xml"
  title="RSS Feed for My Website"
  href="/rss.xml" />
		<script type="application/ld+json" set:html={schema} is:inline></script>
		<title>{title}</title>
		<style is:global>
         body {font-family: "BIZ UDPGothic", "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;}
 body.dark {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;
}
    :root {
	    --pagefind-ui-scale: 0.75;
    }
</style>
	</head>
	<body class="w-full dark:bg-dark-back">
		<div class="w-full max-w-4xl lg:w-10/12 lg:max-w-full mx-auto">
		<header class="h-16  shadow w-ful h-fit p-2 flex">
			<Icon name="tabler:ear" class="text-xl md:text-4xl dark:text-dark-text" />
		<a href="/" class="mt-px dark:text-dark-text md:text-4xl text-xl font-bold ml-0">耳日記</a>
		<div class="ml-auto mr-0 flex">
		<a class="block  lg:block hidden text-xl md:text-4xl  mx-2 dark:text-dark-text" href='/about'>About</a>
		<Search />
		</div>
		</header>
		<main class="dark:bg-dark-back dark:text-dark-text">
		<slot />
		</main>
	</div>


	<footer class="bg-white rounded-lg m-4 dark:bg-dark-back w-ful max-w-4xl lg:w-10/12 lg:max-w-full">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 All Rights Reserved.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
		<a href="/about" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
		<a href="/privacy" class="hover:underline me-4 md:me-6">プライバシーポリシー</a>
        </li>
    </ul>
    </div>
</footer>

	</body>
</html>
